.topPanelContainer {
    position: relative;
    border: 2px solid black;
    border-radius: 5%;
    /* height: 100px; */
    width: 100%;
    aspect-ratio : 1 / 1;
}

.topPanel {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 20%;
    height: 100%;
}

.statusIconGroup {
    /* border: 1px solid blue; */
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.spriteContainer {
    /* border: 2px solid green; */
    /* position: relative; */
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprite {
    /* border: 1px solid blue; */
    /* width: fit-content;
    height: fit-content; */
    width: 250px;
    height: 250px;
}

.battery {
    position: absolute;
    width: 40px;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 5px;
    z-index: 10;
}

.messageContainer {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%; */
    grid-area: 2 / 1 / 3 / 3;
    /* grid-column: 1 / span 2; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* max-height: 100px; */
  }

  .statusLog {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0px;
    font-size: .8rem;
  }