.App {
  text-align: center;
  /* max-width: 33%; */
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  position: relative;
}

button {
  cursor: pointer;
}

/* div {
  border: 1px solid red;
} */

.bottomPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}